@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&display=swap');
body{
  background-color:#131313;
}
@theme{
 --color-bco : #131313;;
 --color-hv : #212121;
 --font-edu :  "Edu", cursive;
}